<h5><%= Post %></h5>
<div class="row">
  <div class="col-md-8">
    <%= render partial: 'votes/voter', locals: { post: @post } %>
  </div>  
  <div class="col-md-8">
    <h1><%= markdown_to_html @post.title %></h1>
    <h4><%= markdown_to_html @post.body %></h4>
    <small>
      <%= image_tag(@post.user.avatar.small.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %>
    </small>
  </div>
  
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
    <% if policy(@post).destroy? %>
       <%= link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>
    <% end %>
  </div>
  
  <div>
    <h3><%= pluralize(@post.points, 'point') %></h3>
    <small>
      <%= pluralize(@post.up_votes, 'up vote') %>,
      <%= pluralize(@post.down_votes, 'down vote') %>
    </small>
  </div>
  
  <div class="col-md-8">
    <% this_post_comments = @post.comments %>
    <% if this_post_comments.count == 1 %>
      <h5><%= "1 Comment" %></h5>
    <% end %>
    <% if this_post_comments.count > 1 %>
      <h5><%= "#{this_post_comments.count} Comments" %></h5>
    <% end %>
    <% this_post_comments.each do |c| %>
      <%= render partial: 'comments/comment', locals: {comment: c} %>
    <% end %>
  </div>
  
  <div class="col-md-8">
    <%= render partial: 'comments/form', locals: { topic: @topic, post: @post,  comment: @post.comments.new} %>
  </div>
</div>